{
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures":{
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "max-len": ["warn", {
      "code": 150,
      "ignoreStrings": true
    }],
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "import/extensions": ["error", "never", { "jsx": "always" }]
  },
  "globals": {
    "chrome": false,
    "window": false,
    "googletag": true,
    "document": false,
    "__webpack_hash__": false
  },
  "extends": ["airbnb"]
}
