.slotCont {
  display: flex;
  background-color: #FAFAFA;
  height: 30px;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 3px;
  color: rgb(105,105,105);
}
.arrowCont {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 15px;
  height: 100%;
  padding-right: 9px;
}
.slotArrow {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid rgb(184,184,184);
  transition: transform .2s;
}
.slotArrowOn {
  transform: rotate(90deg);
}