.controlCont {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 70px;
  display: flex;
  height: 100%;
}

.quickDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 25px;
  color: rgb(184,184,184);
  border: 2px solid rgb(184,184,184);
  margin-right: 3px;
}
.divIcon {
  font-size: .8em;
}
.quickDisplayTrue {
  color: rgb(22,122,198);
  border: 2px solid rgb(22,122,198);
}

.refreshIcon {
  height: 100%;
  fill: rgb(184,184,184);
}
#refreshOn {
  fill: rgb(22,122,198);
}